openapi: 3.1.0
info:
  title: PandaScore Changes API
  description: PandaScore provides esports data via a REST API covering matches, leagues, tournaments, teams, players, series and game-specific endpoints for titles like League of Legends, CS:GO, Valorant, and Dota 2. Authentication is via a Bearer token.
  version: 1.0.0
  contact:
    name: PandaScore
    url: https://developers.pandascore.co/docs
servers:
- url: https://api.pandascore.co
  description: Production
security:
- bearerAuth: []
tags:
- name: Changes
paths:
  /additions:
    get:
      tags:
      - Changes
      summary: Get the latest additions
      operationId: getAdditions
      parameters:
      - in: query
        name: page
        schema:
          type: integer
          minimum: 1
          default: 1
      - in: query
        name: per_page
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 50
      - in: query
        name: since
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: A list of created entities
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
  /changes:
    get:
      tags:
      - Changes
      summary: Get the latest updates
      operationId: getChanges
      responses:
        '200':
          description: A list of changes
  /incidents:
    get:
      tags:
      - Changes
      summary: Get the latest updates and additions
      operationId: getIncidents
      responses:
        '200':
          description: A list of incidents
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication using a PandaScore API token
